<!DOCTYPE html>
<html ng-app="probablyMain">
<head>
    <title>Probably loading...</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/all.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>-->

</head>
<body ng-controller="mainController">
<div id="head">
    <a class="head-button head-button-left">Boards</a>
    <span class="head-button head-button-left"><i class="fa fa-gear"></i><span class="sub-menu"><a
            ng-click="addColumn()">Add column</a></span></span>
    <span class="probably-title"><span class="probably">Probably</span> <span
            id="innerTitle">something to do</span></span><span class="search"><input type="text" width="30"
                                                                                     ng-model="searchFilter"><a><i
        class="fa fa-search"></i></a> </span>
</div>
<div id="board" ui-sortable ng-model="board.columns">
    <div class="column" ng-repeat="column in board.columns">
        <div class="column-head">
        <a ng-click="deleteColumn($index)" class="delete-column"><i class="fa fa-times"></i></a>
        <span class="column-caption" ng-hide="isInEditMode($index,-1,3)" ng-click="startEdit($index,-1,3)">
            <span ng-if="column.caption">
                {{column.caption}}
            </span>
                <span ng-if="!column.caption" class="information-column-header">
                    Click to Add Caption
                </span>
            </span>
        <span class="column-caption" ng-show="isInEditMode($index,-1,3)"><input class="editor" type="text"
                                                                                placeholder="Column Name"
                                                                                pb-enter-blur
                                                                                ng-model="column.caption"
                                                                                ng-blur="stopEdit($index,-1,3)"/></span>

        <div ui-sortable="{connectWith:'.card-sortable-container', placeholder:'card-placeholder'}" class="card-sortable-container"
             ng-model="column.cards">
            <div class="card" ng-class="'card-style-'+card.style" ng-repeat="card in column.cards | filter:searchFilter">
                <div class="card-buttons-strip">
                    <a ng-click="deleteCard($parent.$index, $index)" class="card-button"><i class="fa fa-times"></i></a>
                    <a ng-click="startEdit($parent.$index,$index,4)" class="card-button"><i class="fa fa-tag"></i></a>
                </div>

            <span class="card-info-icon" ng-if="card.repetition">
                <i class="fa fa-refresh" title="repeats {{card.repetition}}"></i>
            </span>
            <span class="card-title" ng-hide="isInEditMode($parent.$index,$index,1)"
                  ng-click="startEdit($parent.$index,$index,1)">
            <span ng-if="card.title">
                {{card.title}}
            </span>
                <span ng-if="!card.title" class="information-to-user">
                    Click to Add Title
                </span>
            </span>
                <span class="card-title" ng-show="isInEditMode($parent.$index,$index,1)"><input class="editor"
                                                                                                type="text"
                                                                                                placeholder="Card Name"
                                                                                                ng-model="card.title"
                                                                                                pb-enter-blur
                                                                                                ng-blur="stopEdit($parent.$index,$index,1)"/></span>


            <span class="card-description" ng-hide="isInEditMode($parent.$index,$index,2)"
                  ng-click="startEdit($parent.$index,$index,2)">
                       <span ng-if="card.description">{{card.description}}</span>
                <span ng-if="!card.description" class="information-to-user">Click to Add description</span>
            </span>

                <span class="card-description" ng-show="isInEditMode($parent.$index,$index,2)"
                      ng-click="startEdit($parent.$index,$index,2)"><textarea class="editor" ng-model="card.description"
                                                                              ng-blur="stopEdit($parent.$index,$index,2)"></textarea></span>
                <span class="card-style-selector" ng-show="isInEditMode($parent.$index,$index,4)">
                    <a class="card-style-option" ng-repeat="style in allStyles" ng-class="'card-style-'+style" ng-click="setStyle(card,style)"></a>
                </span>
            </div>
        </div>
        <a ng-click="addCard($index)" class="add-card-button">add card</a>
    </div>
  </div>
</div>


<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="js/main.js"></script>

</body>
</html>
