/* HTML Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/*
http://colorschemedesigner.com/#3.31Tw0w0w0w0
*/
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END HTML Reset*/
body {
    background-color: #f3f3f3;
    font-family: "Roboto", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Arial, Calibri, Helvetica, Sans-Serif;
}

a {
    cursor: pointer;
}

#head {
    background-color: #2c3e50;
    width: 100%;
    height: 45px;

    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.head-button {
    display: inline-block;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    background-color:#34495e ;
    color: White;
    position: relative;
    text-shadow: 1px 1px 1px rgba(2,2,2,0.5);
}

.head-button-left {
    float: left;
}

#head .search {
    float: right;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color:#34495e ;
    color: white;
}

#head .search input {
    background-color: #34495e;
    border: none;
}

#head .probably {
    font-size: 140%;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
    font-weight: bolder;
}

.probably::before {
    font-family: FontAwesome;
    content: "\f14a";
    text-shadow: 1px 1px 2px #000;
    margin-right: 5px;
    color: #fff;

}

#board {
    margin-top: 40px;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}

.column {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    border-radius:0 0 15px 15px;
    float: left;
    margin: 20px;
    box-shadow: 2px 2px 2px #34495e;
    flex: 0 0 260px;
    max-height: 100%;
    padding:0;
}

.column .card-sortable-container {
    overflow: auto;
    min-height: 50px;
}

.card-placeholder{
    border:dashed #ecf0f1 2px;
    border-radius: 5px;
    box-shadow: 2px  2px 2px #333;
    height:50px;
    margin:5px;
}

.column .column-head{
    background-color: #2c3e50;

    height:40px;

}

.column .column-caption {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 2px #333;
    padding: 5px;
    font-size: 120%;
    min-height: 20px;

}

.card {
    display: block;
    margin: 5px;
    margin-bottom: 15px;
    background-color: #f4f7ff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333;
    padding: 10px;
}

.card-title {
    display: block;
    color: #222;
    text-shadow: 2px 2px 1px white;
    font-weight: bold;
    font-size: 110%;
    min-height: 20px;
    min-width:80% ;
}

.card-description{
    display: block;
    min-height: 10px;
    min-width:80% ;
    white-space: pre-wrap;
}

.column .add-card-button {
    font-weight: bold;
    font-size: 110%;
    color: #444;
    display: block;
    text-align: center;
    margin: 5px;
}

.card:hover .delete-card {
    display: block;
}

.delete-card {
    display: none;
    float: right;

    color: #333;
}

.card-info-icon {
    float: right;
    margin-right: 10px;
    color: #95a5a6;
}

.card-info-icon:hover {
    color: #333;
}

.information-to-user, .information-column-header {
    color: #95a5a6;
    font-style: italic;
}

.information-column-header{
    color: #ecf0f1;
}

.column:hover .delete-column {
    display: block;
}

.column {
    position: relative;
}

.delete-column {
    display: none;
    float: right;
    position: absolute;
    color:#eee;
    right: 10px;
    top: 10px;
}

.ui-sortable-helper {
    transform: rotate(-5deg);
}

.head-button .sub-menu {

    display: none;
    background-color:#34495e;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;

    position: absolute;
    width: 100px;
    z-index: 10;
    left: 0px;
    top: 25px;
    text-shadow: 1px 1px 2px #333;
    box-shadow: 1px 1px 2px #333;
}

.head-button:hover .sub-menu, .sub-menu:hover {
    display: block;
}
