/* HTML Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END HTML Reset*/
body {
    background-color: #9c9c9c;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Arial, Calibri, Helvetica, Sans-Serif;
}

a {
    cursor: pointer;
}

#head {
    background-image: linear-gradient(to bottom, #337aba 0%, #234e9c 100%);
    background-repeat: repeat-x;
    width: 100%;
    height: 40px;
    color: #f4f4f4;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.head-button {
    display: inline-block;
    margin: 5px;
    padding: 8px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #b9bdc4 0%, #f4f4f4 100%);
    color: #444a54;
    position: relative;
}

.head-button-left {
    float: left;
}

#head .search {
    float: right;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color:#34495e ;
    color: #f4f4f4;
}

#head .search input {
    color: #f4f4f4;
    background-color: #34495e;
    border: none;
}

#head .probably {
    font-size: 140%;
    text-transform: uppercase;

    color: #f4f4f4;
    text-shadow: 1px 1px 2px #444a54;
}

.probably::before {
    font-family: FontAwesome;
    content: "\f14a";
    text-shadow: 1px 1px 2px #000;
    margin-right: 5px;
    color: #f4f4f4;

}

#board {
    margin-top: 53px;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    background: #b8b8b8;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}

.column {
    display: flex;
    flex-direction: column;
    width: 250px;

    background-color: #dbdee4;
    border-radius:3px 3px 3px 3px;
    float: left;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px #444a54;
    flex: 0 0 260px;
    max-height: 100%;
    padding:0;
}

.column .card-sortable-container {
    overflow: auto;
    min-height: 50px;
}

.card-placeholder{
    border:dashed #9c9c9c 1px;
    border-radius: 3px;
    height:50px;
    margin:5px;
}

.column .column-head{
    background-color: #f4f4f4;
    height:40px;

}

.column-head{
    background-image: linear-gradient(to bottom, #565d69 0%, #444a54 100%);
    background-repeat: repeat-x;
}

.column .column-caption {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    color: #f4f4f4;
    padding: 5px;
    font-size: 120%;
    min-height: 20px;

}

.card {
    display: block;
    margin: 5px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #b9bdc4 100%);
    background-repeat: repeat-x;
    border-color: #444a54;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #222;
    padding: 10px;
}

.card-title {
    display: block;
    font-size: 110%;
    min-height: 20px;
    min-width:80%;
}

.card-description span{
    display: block;
    min-height: 10px;
    min-width:80% ;
    white-space: pre-wrap;
    text-align: left;
    opacity: 0.7;
}

.column .add-card-button {
    font-size: 110%;
    color: #444a54;
    display: block;
    text-align: center;
    margin: 5px;
}


.add-card-button::before{
    font-family: FontAwesome;
    content: "\f055";
    margin-right: 5px;
}

.card:hover .delete-card ,
.card:hover .card-button {
    display: block;
}

.card-button {
    display: none;
    float: right;

    color: #444a54;
}

.card-info-icon {
    float: right;
    margin-right: 10px;
    color: #565d69;
}

.card-info-icon:hover {
    color: #444a54;
}

.information-to-user, .information-column-header {
    color: #565d69;
    font-style: italic;
}

.information-column-header{
    color: #b9bdc4;
}

.column:hover .delete-column {
    display: block;
}

.column {
    position: relative;
    background: #f4f4f4;
}

.delete-column {
    display: none;
    float: right;
    position: absolute;
    color: #f4f4f4;
    right: 10px;
    top: 10px;
}

.ui-sortable-helper {
    transform: rotate(-5deg);
}

.head-button .sub-menu {

    display: none;
    /*background-color:#34495e;*/
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #b9bdc4 100%);
    padding: 10px;
    border-radius: 0px 10px 10px 10px;

    position: absolute;
    width: 100px;
    z-index: 10;
    left: 0px;
    top: 25px;
    box-shadow: 1px 1px 2px #565d69;
}

.head-button:hover .sub-menu, .sub-menu:hover {
    display: block;
}


.card-style-red{
    background-image: linear-gradient(to bottom, #b83333 0%, #9c4925 100%);
    color: #f4f4f4;
}

.card-style-blue{
    background-image: linear-gradient(to bottom, #337cb8 0%, #24509c 100%);
    color: #f4f4f4;
}

.card-style-green{
    background-image: linear-gradient(to bottom, #50b833 0%, #279c25 100%);
    color: #f4f4f4;
}

.card-style-yellow{
    background-image: linear-gradient(to bottom, #b8b133 0%, #8c9c25 100%);
    color: black;
}

.card-style-gray{
    background-image: linear-gradient(to bottom, #f4f4f4 0%, #b9bdc4 100%);
    color: black;
}

.card-style-option
{
    display:inline-block;
    width: 20px;
    height: 20px;
    border: #f4f4f4 2px solid;
}

